@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    12127 Mall Blvd<br />
    Suite A #309<br />
    Victorville, CA 92392<br />
    <!--
    <abbr title="Phone">P:</abbr>
    425.555.0100
    -->
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@evolutionarynetworkingdesigns.net">support@evolutionarynetworkingdesigns.net</a><br />    
</address>
